p{
color: rgb(255, 255, 255);
font-size: larger;
}


body{
    background-color: black;
}

.herosection{
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  min-height: 50vh;
  padding: 2rem;

}

.imgsection{
   

    padding: 2rem;
    padding-top: 20px;
    
}

.description {
  max-width: 500px;  
}


.profilephoto {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 30%;
}

h2{
    color: white;

}


#mainname{
    color: rgb(34, 0, 255);
}

.projects{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    width: auto;

}

.pr{
    background-color: #222831;
    padding: 5px;
    margin: 20px;
    height: fit-content;
    border-radius: 5%;
}


.primg{
    aspect-ratio: 2/1;
    width:50vh;
    border-radius: 5%;


   
}

.projectname{
    text-align: center;
}

.projecttechstack{
    height: fit-content;
    
}

.projectdescription{
    height: fit-content;

}

.projecttechstack{
    height: fit-content;
    text-justify: center;
}

.project_img{
    display: flex;
    justify-content: center;
    align-items: center;
}





@media (max-width: 900px) {

    
.herosection {
        flex-direction: column;
        align-items: center;
        max-height: none;
        padding: 1rem;
        text-align: center;
    }

.imgsection {
        padding: 1rem;
    }

.profilephoto {
        height: 150px;
    }

.description {

        height: fit-content;
        margin-right: 0;
        max-height: none;
        padding: 1rem;
        
    }

  
.projects {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 1rem;
    }

.pr {
        margin: 10px 0;
        border-radius: 12px;
    }

.primg {
        width: 100%;
        max-width: 100%;
        height: auto;
        aspect-ratio: 2 / 1;
    }

h2 {
        font-size: 2 rem;
    }

p {
        font-size: 1rem;
    }
}


@media (max-width: 480px) {

.profilephoto {
        height: 120px;
    }

 h2 {
        font-size: 1.1rem;
    }

p {
        font-size: 0.95rem;
    }
}
